/*****************************/		
/*        GENERAL             *
/*****************************/	

body {
	background: rgb(249,249,249);
	font-family: 'Playfair Display','Averia Serif Libre',georgia,palatino,Arial,serif;
	font-size: 16px; /* default font size for your site */
}

/*****************************/		
/*    Header and nav bar      *
/*****************************/	

header {
	position: fixed;
	float: left;
	width: 18%;
	margin: 2% 0% 0% 2%;
}

nav ul {
	margin-top:1%;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin-bottom: 0.4rem;
	color: black;
	font-size: 1.4rem;
	letter-spacing:0.1rem;
}

nav .menu li a {
	color: red;
	font-size: 1.3rem;
}

nav ul li a:hover {
	text-shadow: 1px 1px 10px;
}

header .selected {
	text-shadow: 2px 2px 15px;
}


/*****************************/		
/*         Photos            */
/*****************************/	

#portfolio {
	float: right;
	width: 78%;
	margin: 2% 2% 0% 0%;
}

#portfolio ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.onephoto img {
	float: left;
	margin: 1%;
	width: 98%;
	opacity: 1;
}

.twophotos li img{
	float: left;
	margin: 1%;
	width: 48%;
	opacity: 1;
}

.threephotos li img{
	float: left;
	margin: 1%;
	width: 31.3%;
	opacity: 1;
}

.fourphotos li img{
	float: left;
	margin: 1%;
	width: 23%;
	opacity: 1;
}

a:hover img{
	opacity: 0.6;
}

/*****************************/		
/*         Gallery            */
/*****************************/	

.gallery {
	width: 96%;
	margin: 2% 2% 0% 2%;
}


/*****************************/		
/*          about            */
/*****************************/	

#bio {
	float: left;
	margin: 1%;
	width: 98%;
	opacity: 1;
	font-size: 1.1rem;
	letter-spacing:0.05rem;
	text-align: right;
}

#bio a {
	color: black;
	text-decoration: none;
}

#bio p:hover{
	opacity: 0.6;
}

#bio a:hover{
	text-decoration: underline;
/*	opacity: 0.6;
*/}


/*****************************/		
/*          Footer           */
/*****************************/	

footer {
	clear: both;
	float: right;
	margin: 0% 3% 2%;
}

footer p {
	font-size: 0.9rem;
}

/*****************************/		
/*       Media queries       */
/*****************************/	

@media (max-width: 767px) {
	header {
		position: static;
		width: 96%;
		margin: 3% 2% 0% 2%;
	}

	nav ul li a {
		display: inline-block;
		float: right;
		font-size: 1.3rem;
		letter-spacing:0.1rem;
		line-height: 1.1rem;	
	}

	.home {
		float:left;
		margin-left: 1%;
	}

	nav .menu {
		font-size: 1.2rem;
		letter-spacing:0.1rem;	
	}

	.menu {
		float: right;
		margin-right: 1%;
	}

	#portfolio {
		width: 96%;
		margin: 2% 2% 0% 2%;
	}

	footer p {
		font-size: 0.7rem;
	}

	#bio {
		font-size: 1rem;
		letter-spacing:0.03rem;
}
